.checkbox {
  cursor: pointer;
}

.item-controls {
  display: flex;
  align-items: center;
}

.edit-button {
  width: 1.5rem;
  display: flex;
  justify-content: center;
}

.icon {
  width: 15px;
  height: 15px;
  font-size: 15px;
}

.folder {
  color: burlywood;
}

.file {
  color: cornflowerblue;
  cursor: pointer;
}

.file:hover {
  font-size: 17px;
  animation: .5s linear 1s alternate slidein;
}
